*{
  margin: 0;
  padding : 0;
  box-sizing:border-box;
  font-family : 'helvetika neue' ;
  color:#fff;

}

html,
body {
height:100%;
width:100% ;
}

h1{
  color:black;
  padding:10px 20px;
  margin:20px;
  font-size:100px;
}
button {
  height: 60px;
  width: 20%;
  padding:10px 20px;
  margin:20px;
  background-color:cadetblue;
  color:black;
  border-radius:10px;
}